@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}


body {
  background-color: #516dff;
	color: #fff;
	flex-direction: column;
	font-family: 'Press Start 2P';
	height: 100vh;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

a {
	color: #fff;
}

h1 {
	line-height: 1.4;
}

.screen {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: margin 0.75s linear;
	height: 100vh;
	width: 100vw;
}

.screen.up {
	margin-top: -100vh;
}

.btn {
  border: 0;
	background-color: #fff;
	color: #516dff;
	cursor: pointer;
	font-family: 'Press Start 2P';
	padding: 15px 20px;
}

.btn:hover {
	opacity: 0.9;
}

.btn:active {
	opacity: 0.7;  
}

.insects_list {}

.insects_list li {}

.choose_insect_btn {}

.choose_insect_btn:hover {}

.choose_insect_btn:active {}

.choose_insect_btn img {}

.game_container {}

#time,
#score {}

@media screen and (max-width: 480px) {}

#time {}

#score {}

#annoying_message {}

#annoying_message.visible {}

.insect {}

.insect.catched {}

.insect img {}

/* SOCIAL PANEL CSS */
.social-panel-container {}

.social-panel-container.visible {} 
