@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to bottom, #E9E4F0, #D3CCE3);
    background: linear-gradient(to bottom, #E9E4F0, #D3CCE3);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;    
}

.testimonial-container {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px 50px;
    transition: all 0.3s ease-in;
    margin: 20px;
    max-width: 100%;    
}

.fa-quote-left {
    color: rgba(0, 0, 0, 0.15);
    font-size: 50px;    
}


/* SOCIAL PANEL CSS */
