@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #323975;
    color: #fff;
    display: flex;
    font-family: 'Muli';
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.fa-snowflake {}

@keyframes fall {}

.countdown-container {}

.time {}

.time h1 {}

.time small {}

/* SOCIAL PANEL CSS */
