@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Muli', sans-serif;
    margin: 0;
}

.txt {}

.row {}

..row:nth-of-type(odd) {}

.circle {}

.circle:hover {}

.circle.winner div {}

.circle.winner:hover {}

.circle.winner:hover div {}

/* SOCIAL PANEL CSS */
