@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.panda {
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    height: 170px;
    width: 170px;
}

.panda .ear {
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    height: 50px;
    width: 50px;
    z-index: -1;
}

.panda .ear.left {
    left: 0;
}

.panda .ear.right {
    right: 0;
}

.panda .eye {}

.panda .eye.left {}

.panda .eye.right {}

.panda .eye .eye-roll {}

.panda .eye {}

.panda .mouth {}


/* SOCIAL PANEL CSS */
