@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.panda {}

.panda .ear {}

.panda .ear.left {}

.panda .ear.right {}

.panda .eye {}

.panda .eye.left {}

.panda .eye.right {}

.panda .eye .eye-roll {}

.panda .eye {}

.panda .mouth {}


/* SOCIAL PANEL CSS */
