@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

* {
  box-sizing: border-box;
}

html, body {
	font-family: 'Holtwood One SC';
  margin: 0;
  padding: 0;
}

#container {}

.element {}

.settings {}

.settings h2 {}

.settings label {}

.settings p {}


/* SOCIAL PANEL CSS */
.social-panel-container {}

.social-panel-container.visible {}
