@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
}

.loading-container {}

.loading-container::after {}

@keyframes grow {}

h1 {}
/* SOCIAL PANEL CSS */
