@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
}

.loading-container {
    background-color: #000;
    border: 3px solid green;
    padding: 10px;
    margin: 20px;
    position: relative;
    width: 400px;
    max-width: 100%;    
}

.loading-container::after {}

@keyframes grow {}

h1 {}
/* SOCIAL PANEL CSS */
