:root {
  --color: #2E343F;
  --position: 0;
  --radius: 0;  
}

.inputContainer{
  display:flex;
  align-items: center;  
}

.inputContainer label{
  margin-right: 20px;  
}

.scroll {
  position: relative;
  padding: 10px 20px;  
}

.box {
  transform: translateX(var(--position));
  background: var(--color);
  border-radius: var(--radius);
  width: 100px;
  height: 100px;
  transition: width 2s;  
}
