@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
    display: flex;
    font-family: 'Muli';
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.key {}

/* SOCIAL PANEL CSS */
