@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ffcc66;
    display: flex;
    align-items: center;
    font-family: 'Muli', sans-serif;
    justify-content: center;
    height: 100vh;
    margin: 0;   
}

.popup {}

.popup p {}

.btn-container {}

.btn {}

.btn:active {}

.btn:focus {}

.btn.ghost {}

.btn.ghost span {}

.popup img {}

/* SOCIAL PANEL CSS */

