$color-red: #cc615f;
$color-grey: #1c262b;
$color-grey--light: #29363e;

$color-orange: #e6ac5e;
$color-blue: #007ece;
$color-green: #8fca53;
$color-purple: #68647c;
$color-gold: #efb05a;


$color-primary: $color-blue;

$bp-s: 43.75em; //700px;
$bp-xs: 34.375em; //550px;

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);


* {
  box-sizing: border-box;
}
html{
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;  
}
body {
  width: 100%;
  height:100%;
  font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.45;
  color: #141414;
}

a{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }  
}

img{
 max-width: 100%;
}

.btn{}

&:hover{}

.container{}

header{}

section{}
.col{}
.col-7{}
.col-3{}
.col-5{}

.details{}
.details-img--ball{}
.features{}

blockquote{}

footer{}

.text--center{}
.text--left{}
.bg-image{}
