@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #6b92a4;
    color: #fff;
    display: flex;
    font-family: 'Helvetica', sans-serif;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;  
}


p {}


h2 {}

input[type=checkbox] {}

.container {}

.result-container {}

.result-container #result {}

.result-container .btn {}

.btn {}

.btn-large {}

.setting {}

@media screen and (max-width: 400px) {}


/* SOCIAL PANEL CSS */
.social-panel-container {}

.social-panel-container.visible {}
