@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
  box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.love {}

.love:focus {}

.love .icon-container {}

.love .text {}

.love .grey-text {}

.fa-redo {}

.heart {}

@keyframes fly {}

/* SOCIAL PANEL CSS */
