@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

.settings {
    background-color: #1B1464;
    color: #fff;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.settings select {}

.block {}

/* SOCIAL PANEL CSS */
