@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

nav {}

nav.active {}

nav ul {}

nav.active ul {}

nav ul li {}

nav.active ul li {}

nav ul a {}

.icon {}

.icon.focus {}

.icon .line {}

.icon .line2 {}

nav.active .icon .line1 {}

nav.active .icon .line2 {}

/* SOCIAL PANEL CSS */
