@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

* {
  box-sizing: border-box;
}

root {}


body {
	background-color: #D9C4B1;
  	background-image: radial-gradient(circle, var(--light-col), var(--dark-col));
	font-family: 'Roboto';
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.user-profile-container {}

.user-profile {}

.user-profile h3 {}

.user-profile p {}

.user-info {}

.user-info h3 {}

.user-info small {}

.follow-btn {}

/* SOCIAL PANEL CSS */
.social-panel-container {}

.social-panel-container.visible {}
