@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Monserrat', sans-serif;
  min-height: 100vh;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px; 
}

.text-center {}

.container {}

.container .or {}

.container .name {}

.img-container {}

.img-container img {}

.img-container button {}

.choose-btn {}

.choose-btn:hover {}

.choose-btn:active {}

.choose-btn:focus {}

.leaderboard {}

.leaderboard td {}

.leaderboard td.name {}

.leaderboard p {}

.leaderboard td:last-of-type {}

.leaderboard img {}

.place {}

.place i {}

.place-1 {}

.place-2 {}

.place-3 {}
/* SOCIAL PANEL CSS */
.social-panel-container {}

.social-panel-container.visible {}
